<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>采购申请</title>
    <link rel="stylesheet" href="/statics/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/public.css" media="all">
    <link rel="stylesheet" href="/css/themes/default.css" media="all">
    <link rel="stylesheet" href="/statics/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <script src="/statics/lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div>

            <table id="fileinfoList" lay-filter="fileinfoList" class="layui-hide"></table>

            <!--表格工具条-->
            <script type="text/html" id="toolbar">
                <button  class="layui-btn layui-btn-normal layui-btn-sm " lay-event="add"><i class="layui-icon">&#xe654;</i>
                    添加
                </button>
                <button class="layui-btn layui-btn-sm " lay-event="refresh"><i class="layui-icon">&#xe669;</i>刷新
                </button>
            </script>
            <script type="text/html" id="fileinfoListBar" >
<!--                <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="view">在线预览</a>-->
                <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="download">下载</a>
                <a class="layui-btn layui-btn-xs" lay-event="del">删除</a>
            </script>
        </div>
    </div>
</div>

<script src="/statics/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script type="text/javascript" th:inline="none">
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        //实例化表格
        table.render({
            elem: '#fileinfoList',
            url: '/fileinfo/selectfileinfo',
            toolbar: '#toolbar',
            defaultToolbar: ['filter', 'exports', 'print'],
            parseData: function (res) { //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.list //解析数据列表
                };
            },
            cols: [[
                {field: "checkbox", type: 'checkbox'},
                {field: 'fileinfoid', title: '文件ID', minWidth:100, align:"center"},
                {field: 'businesssysno', title: '业务ID', minWidth:100, align:"center"},
                {field: 'name', title: '文件名称', minWidth:100, align:"center"},
                {field: 'url', title: '文件路径', minWidth:100, align:"center"},
                {field: 'fileinfotype', title: '文件类型', minWidth:100, align:"center",templet:function(d){
                        var html="";
                        if(d.fileinfotype==4){
                            html="<font color=gray>合同模板</font>"
                        }else{
                            html="<font color=gray>未知</font>"
                        }
                        return html;
                    }},
                {field: "createdate", title: "创建时间", sort: true,width:170},
                {title: '操作', toolbar: '#fileinfoListBar', align: "center", minWidth:200,fixed: 'right'}
            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 10,
            page: true
            //skin: 'line'
        });
        //监听头工具栏事件
        table.on('toolbar(fileinfoList)', function(obj){
            switch(obj.event){
                case 'add':
                    toAddFileinfo();
                    break;
                case 'refresh':
                    layui.table.reload("fileinfoList");
                    break;
            };
        });
        //列表操作
        table.on('tool(fileinfoList)', function(obj){
            var layEvent = obj.event,
                data = obj.data;
            if(layEvent === 'del'){ //删除
                layer.confirm('确定删【'+data.name+'】合同附件吗？',{icon:3, title:'提示信息'},function(index){
                    $.post("/fileinfo/delete",{
                        fileinfoid : data.fileinfoid  //将需要删除的id作为参数传入
                    },function(data){
                        //关闭提示框
                        layer.close(index);
                        //刷新table
                        layui.table.reload("fileinfoList");
                    })
                });
            }else if(layEvent==="view"){ //在线预览
                window.location.href="/fileinfo/viewfile?fileinfoid="+data.fileinfoid;
            }else if(layEvent==='download'){ //下载合同
                window.location.href="/fileinfo/download?fileinfoid="+data.fileinfoid;
            }
        });
        //打开  添加合同附件的弹出层
        function toAddFileinfo(){
            var index = layui.layer.open({
                title : "添加合同附件",
                type : 2,//ifream层
                area:["800px","500px"],
                content : "/fileinfo/goadd",
                success : function(layero, index){
                    setTimeout(function(){
                        layui.layer.tips('点击此处返回合同附件列表', '.layui-layer-setwin .layui-layer-close', {
                            tips: 3
                        });
                    },500)
                },
                end:function () {
                    layui.table.reload("fileinfoList");
                }
            })
            //layui.layer.full(index);
            //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
            $(window).on("resize",function(){
                layui.layer.full(index);
            })
        }

    });
</script>
</body>
</html>