<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>部门列表</title>
    <link rel="stylesheet" href="/statics/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/public.css" media="all">
    <link rel="stylesheet" href="/css/themes/default.css" media="all">
    <link rel="stylesheet" href="/statics/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <script src="/statics/lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
</head>
<body>

<input type="hidden" id="deptheadname">
<input type="hidden" id="deptid">
<div class="layuimini-container">
    <div class="layuimini-main">
        <blockquote class="layui-elem-quote">
            部门列表
        </blockquote>
        <div>
            <table id="departmentList" lay-filter="departmentList" class="layui-hide"></table>
            <!--表格工具条-->
            <script type="text/html" id="toolbar">
                <button  class="layui-btn layui-btn-normal layui-btn-sm " lay-event="add"><i class="layui-icon">&#xe654;</i>
                    添加
                </button>
                <button class="layui-btn layui-btn-sm " lay-event="refresh"><i class="layui-icon">&#xe669;</i>刷新
                </button>
            </script>
            <script type="text/html" id="departmentListBar">
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
            </script>
        </div>
    </div>
</div>

<script src="/statics/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script type="text/javascript" th:inline="none">
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        //实例化表格
        table.render({
            elem: '#departmentList',
            url: '/department/selectdepartment',
            toolbar: '#toolbar',
            defaultToolbar: ['filter', 'exports', 'print'],
            parseData: function (res) { //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.list //解析数据列表
                };
            },
            cols: [[
                {field: "checkbox", type: 'checkbox'},
                {field: 'deptid', title: '部门ID', minWidth:100, align:"center"},
                {field: 'deptname', title: '部门名称', minWidth:100, align:"center"},
                {field: 'deptheadid', title: '部门领导ID', minWidth:100, align:"center"},
                {field: 'deptheadname', title: '部门领导', minWidth:100, align:"center"},
                {field: 'deptdesc', title: '部门职责', minWidth:100, align:"center"},
                {field: 'createdate', title: '创建时间', minWidth:100, align:"center"},
                {field: 'modifydate', title: '修改时间', minWidth:100, align:"center"},
                {title: '操作', toolbar: '#departmentListBar', align: "center", fixed: 'right'}
            ]],

            limits: [10, 15, 20, 25, 50, 100],
            limit: 10,
            page: true
            //skin: 'line'
        });
        //监听头工具栏事件
        table.on('toolbar(departmentList)', function(obj){
            switch(obj.event){
                case 'add':
                    toAddDepartment();
                    break;
                 case 'refresh':
                    layui.table.reload("departmentList");
                    break;
            };
        });
        //列表操作
        table.on('tool(departmentList)', function(obj){
            var layEvent = obj.event,
                data = obj.data;
            if(layEvent === 'edit'){ //编辑
                updateDepartment(data);//data主当前点击的行
            }else if(layEvent === 'del'){ //删除
                layer.confirm('确定删【'+data.deptname+'】部门吗？',{icon:3, title:'提示信息'},function(index){
                    $.post("/department/delete",{
                        deptid : data.deptid  //将需要删除的id作为参数传入
                    },function(data){
                        //关闭提示框
                        layer.close(index);
                        //刷新table
                        layui.table.reload("departmentList");
                    })
                });
            }
        });

        //打开  添加部门的弹出层
        function toAddDepartment(){
            var index = layui.layer.open({
                title : "添加部门",
                type : 2,//ifream层
                area:["800px","500px"],
                content : "/department/goadddepartment",
                success : function(layero, index){
                    setTimeout(function(){
                        layui.layer.tips('点击此处返回部门列表', '.layui-layer-setwin .layui-layer-close', {
                            tips: 3
                        });
                    },500)
                },
                end:function () {
                    //刷新表格
                    layui.table.reload("departmentList");
                }
            })
        }

        //修改部门
        function updateDepartment(data){
            //console.log(data);
            //弹窗之前先把部门领导获取隐藏
            $("#deptheadname").val(data.deptheadname);
            $("#deptid").val(data.deptid);
            var index = layui.layer.open({
                title : "修改部门",
                type : 2,
                area:["800px","500px"],
                content : "/department/goupdatedepartment",
                success : function(layero, index){
                    setTimeout(function(layero, index){
                        layui.layer.tips('点击此处返回部门列表', '.layui-layer-setwin .layui-layer-close', {
                            tips: 3
                        });
                    },500)
                    var body=layer.getChildFrame("body",index);
                    body.contents().find("input[name=\"deptname\"]").val(data.deptname);
                    body.contents().find("textarea[name=\"deptdesc\"]").text(data.deptdesc);
                },
                end:function () {
                    layui.table.reload("departmentList")
                }
            })
        }

    });
</script>
</body>
</html>