<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/statics/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/public.css" media="all">
    <link rel="stylesheet" href="/css/themes/default.css" media="all">
    <link rel="stylesheet" href="/statics/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <blockquote class="layui-elem-quote">
            预览信息<br>
        </blockquote>

        <div id="content" style="padding: 20px;">

        </div>
    </div>
</div>
<script src="/statics/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="/js/public.js"></script>
<script type="text/javascript" src="/statics/lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    layui.use(['form', 'table', "jquery"], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        function getQueryString() {
            var qs = location.search.substr(1), // 获取url中"?"符后的字串
                args = {}, // 保存参数数据的对象
                items = qs.length ? qs.split("&") : [], // 取得每一个参数项,
                item = null,
                len = items.length;

            for (var i = 0; i < len; i++) {
                item = items[i].split("=");
                var name = decodeURIComponent(item[0]),
                    value = decodeURIComponent(item[1]);
                if (name) {
                    args[name] = value;
                }
            }
            return args;
        }

        //alert(getQueryString().id);

        if
        (getQueryString().id!=undefined) {
            PublicFun.FunPostAjax("/information/getInfoList", {infoid: getQueryString().id}, function (res) {
                if (res == null || res == "") {
                    alert("获取信息失败,请刷新或联系管理员")
                } else {
                    $("#content").append(res.list[0].infocontent);
                }

            }, "获取信息失败,请刷新或联系管理员!!!")
        }

    });


</script>
</body>
</html>