<!DOCTYPE html>
<html xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>公司列表</title>
    <link rel="stylesheet" href="/statics/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/public.css" media="all">
    <link rel="stylesheet" href="/css/themes/default.css" media="all">
    <link rel="stylesheet" href="/statics/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <script src="/statics/lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
</head>
<body>
<input type="hidden" id="corptype">
<input type="hidden" id="legalmanidcardtype">
<input type="hidden" id="corpid">
<div class="layuimini-container">
    <div class="layuimini-main">
        <blockquote class="layui-elem-quote">
            公司列表<br>
        </blockquote>

            <fieldset class="table-search-fieldset">
                <legend>搜索信息</legend>
                <div style="margin: 10px 10px 10px 10px">
                    <form class="layui-form layui-form-pane" action="">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">公司名称</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="corpname" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label" style="width: 150px;">社会统一信用代码</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="corpcode" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <button type="submit" class="layui-btn layui-btn-primary" lay-submit
                                        lay-filter="searchBtn"><i class="layui-icon"></i> 搜 索
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </fieldset>


            <table id="companyList" lay-filter="companyList" class="layui-hide"></table>

            <script type="text/html" id="toolbar">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-sm layui-btn-warm " lay-event="update"><i class="layui-icon">&#xe642;</i>修改
                    </button>
                    <button class="layui-btn layui-btn-sm " lay-event="refresh"><i class="layui-icon">&#xe669;</i>刷新
                    </button>
                </div>
            </script>

            <script type="text/html" id="currentTableBar">
                <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete"><i
                        class="layui-icon">&#xe640;</i>删除</a>
            </script>

    </div>
</div>

<script src="/statics/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="/js/public.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['form', 'table','util'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        //实例化表格
        table.render({
            elem: '#companyList',
            url: '/corpbasicinfo/selectcorpbasicinfo',  //page, limit,corpname,corpcode
            toolbar: '#toolbar',
            defaultToolbar: ['filter', 'exports', 'print'],
            parseData: function (res) { //res 即为原始返回的数据
                return {
                    "code": 0, //解析接口状态
                    "msg": "网络异常,刷新一下再试", //解析提示文本
                    "count": res.total, //解析数据长度
                    "data": res.list //解析数据列表
                };
            },
            cols: [
                [
                    {field: "checkbox", type: 'checkbox'},
                    {field: "corpid", title: "公司编号", sort: true,width:100},
                    {field: "corpcode", title: "统一社会信用代码",width:180},
                    {field: "corpname", title: "公司名称",width:150},
                    {field: "corptype", title: "企业登记注册类型",width:180},
                    {field: "licensenum", title: "工商营业执照注册号",width:180},
                    {field: "address", title: "公司地址",width:150},
                    {field: "zipcode", title: "邮政编码",width:100},
                    {field: "legalman", title: "法定代表人姓名",width:180},
                    {field: "legalmanduty", title: "法定代表人职务",width:180},
                    {field: "legalmanidcardtype", title: "法定代表人证件类型",width:180},
                    {field: "legalmanidcardnumber", title: "法定代表人证件号码",width:180},
                    {field: "registerdate", title: "注册日期",width:170,templet: function (d) {
                           return layui.util.toDateString(d.registerdate, 'yyyy-MM-dd');
                        }},
                    {field: "establishdate", title: "成立日期",width:170,templet: function (d) {
                            return layui.util.toDateString(d.establishdate, 'yyyy-MM-dd');
                        }},
                    {field: "officphone", title: "办公电话",width:150},
                    {field: "faxnumber", title: "传真号码",width:150},
                    {field: "linkman", title: "联系人姓名",width:150},
                    {field: "linkphone", title: "联系人电话",width:150},
                    {field: "signname", title: "电子签名名称",width:150},
                    {field: "signurl", title: "电子签名URL",width:150},
                    {field: "email", title: "企业邮箱",width:150},
                    {field: "website", title: "企业网址",width:150},
                    {
                        field: "createdate", title: "录入时间", sort: true,width:170, templet: function (d) {
                            return layui.util.toDateString(d.createdate, 'yyyy-MM-dd HH:mm:ss');
                        }
                    },
                    {title: '操作', toolbar: '#currentTableBar', align: "center",  fixed: 'right',width:100}
                ]
            ],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 10,
            page: true
            //skin: 'line'
        });

        //搜索事件操作
        form.on("submit(searchBtn)", function (data) {
            var formData = data.field;//获取搜索新信息
            //layer.alert(JSON.stringify(formData));
            //搜索重载

            table.reload("companyList", {
                page: {
                    curr: 1
                },
                where: {//这里传参
                    corpcode: formData.corpcode,
                    corpname: formData.corpname
                },
                url:"",//后台模糊查询的接口路径
                method:"post"
            }, "data");
            return false;
        });

        //表格删除操作事件 delcompany
        table.on("tool(companyList)", function (obj) {
            var data = obj.data;
            if (obj.event === "delete") {
                layer.msg(data.companyId);
                layer.confirm("确定删除此用户吗?", function (index) {
                    //删除操作
                    $.ajax({
                        url: "/company/delcompany",
                        datatype: "json",
                        type: "post",
                        data: {corpid: data.corpid},
                        success: function (res) {
                            if (res.responseCode == 200) {
                                layer.msg(res.message);
                                layui.table.reload("companyList");
                            } else {
                                layer.msg(res.message);
                            }
                        },
                        error: function () {
                            layer.msg("请求失败，请检查网络或联系管理员", {
                                icon: 2,
                                shade: this.shade,
                                scrollbar: false,
                                time: 3000,
                                shadeClose: true
                            });
                        }
                    })
                    layer.close(index);
                })
            }
        });

        //修改刷新操作
        table.on("toolbar(companyList)", function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case "update":
                    UpdateRow(checkStatus.data);
                    break;
                case "refresh":
                    table.reload("companyList");
                    break;
            }
        });
    });

    //修改操作
    function UpdateRow(checkStatus) {
        var chkData = checkStatus;
        chkData.forEach(function (n,i) {
            $('#corpid').val(n.corpid);
            $('#corptype').val(n.corptype);
            $('#legalmanidcardtype').val(n.legalmanidcardtype);;
        });
        if (chkData.length == 1) {
            //获取选中行的数量 判断  修改时一次只能选择一行
            //若为一行是 跳转页面执行修改操作
            //window.open("//corpbasicinfo/goadd?corpid="+chkData[0].corpid);
            layer.open({
                title: '修改用户',
                type: 2,
                shade: 0.2,
                maxmin: true,
                shadeClose: true,
                area: ['100%', '100%'],
                content: '/corpbasicinfo/goadd?corpid='+chkData[0].corpid,
                success: function (layero, index) {
                    var body = layer.getChildFrame('body', index);
                    //为子窗口元素赋值
                    chkData.forEach(function (n, i) {

                        body.contents().find('input[name="corpcode"]').val(n.corpcode);
                        body.contents().find('input[name="corpname"]').val(n.corpname);
                        body.contents().find('input[name="companyAddress"]').val(n.address);

                        body.contents().find('input[name="licensenum"]').val(n.licensenum);
                        body.contents().find('input[name="address"]').val(n.address);
                        body.contents().find('input[name="zipcode"]').val(n.zipcode);
                        body.contents().find('input[name="legalman"]').val(n.legalman);
                        body.contents().find('input[name="legalmanduty"]').val(n.legalmanduty);

                        body.contents().find('input[name="legalmanidcardnumber"]').val(n.legalmanidcardnumber);
                        body.contents().find('input[name="registerdate"]').val(PublicFun.FormatDate( n.registerdate,"yyyy-MM-dd hh:mm:ss"));
                        body.contents().find('input[name="establishdate"]').val(PublicFun.FormatDate(n.establishdate,"yyyy-MM-dd hh:mm:ss"));
                        body.contents().find('input[name="officphone"]').val(n.officphone);
                        body.contents().find('input[name="faxnumber"]').val(n.faxnumber);
                        body.contents().find('input[name="linkman"]').val(n.linkman);
                        body.contents().find('input[name="linkphone"]').val(n.linkphone);
                        body.contents().find('input[name="email"]').val(n.email);
                        body.contents().find('input[name="website"]').val(n.website);
                        body.contents().find('input[name="signname"]').val(n.signname);
                        body.contents().find('#signurl').attr("src",n.signurl);
                        PublicFun.RenderForm();
                    });
                },
                end: function () {
                    layui.table.reload("companyList");//关闭弹窗后刷新页面
                }
            });
        } else if (chkData.length > 1) {
            layer.msg("一次只能修改一行数据！！！");
        } else {
            layer.msg("你没有选中任何行！！！")
        }

    }

</script>
</body>
</html>