<!DOCTYPE html>
<html xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>公司通讯</title>
    <link rel="stylesheet" href="/statics/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/public.css" media="all">
    <link rel="stylesheet" href="/css/themes/default.css" media="all">
    <link rel="stylesheet" href="/statics/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <script src="/statics/lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">


        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">员工名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="name" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width: 150px;">员工电话</label>
                            <div class="layui-input-inline">
                                <input type="text" name="cellphone" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary" lay-submit
                                    lay-filter="searchBtn"><i class="layui-icon"></i> 搜 索
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
        <table id="mymailList" lay-filter="mymailList" class="layui-hide"></table>
    </div>
</div>

<script src="/statics/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="/js/public.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['form', 'table','util'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        //实例化表格
        table.render({
            elem: '#mymailList',
            url: '/mail/selectmymail',  //page, limit,corpname,corpcode
            toolbar: '#toolbar',
            defaultToolbar: ['filter', 'exports', 'print'],
            parseData: function (res) { //res 即为原始返回的数据
                return {
                    "code": 0, //解析接口状态
                    "msg": "网络异常,刷新一下再试", //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.list //解析数据列表
                };
            },
            cols: [
                [
                    {field: "checkbox", type: 'checkbox'},
                    {field: "name", title: "员工姓名", },
                    {field: "deptname", title: "部门名称",},
                    {field: "jobtitle", title: "职位", },
                    {field: "cellphone", title: "电话号码", sort: true,},
                    {field: "email", title: "个人电子邮箱",},
                    {field: "address", title: "员工地址",},


                ]
            ],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 10,
            page: true
            //skin: 'line'
        });

        //搜索事件操作
        form.on("submit(searchBtn)", function (data) {
            var formData = data.field;//获取搜索新信息
            //layer.alert(JSON.stringify(formData));
            //搜索重载
            //alert(formData.name);
            table.reload("mymailList", {
                page: {
                    curr: 1
                },
                where: {//这里传参
                    name: formData.name,
                    cellphone: formData.cellphone
                },
                url:'/mail/selectmymail',//后台模糊查询的接口路径
                method:"post"
            }, "data");
            return false;
        });

    });

</script>
</body>
</html>