<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>审核记录</title>
    <link rel="stylesheet" href="/statics/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/public.css" media="all">
    <link rel="stylesheet" href="/css/themes/default.css" media="all">
    <link rel="stylesheet" href="/statics/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <script src="/statics/lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div>
            <table id="approvalrecordlist" lay-filter="approvalrecordlist" class="layui-hide"></table>
        </div>
    </div>
</div>

<script src="/statics/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script type="text/javascript" th:inline="none">
    var tableDeploymentIns;
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        //实例化表格
        tableDeploymentIns=table.render({
            elem: '#approvalrecordlist',
            url: '/workflow/queryCurrentUserHistoryTask',
            defaultToolbar: ['filter', 'exports', 'print'],
            parseData: function (res) { //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.list //解析数据列表
                };
            },
            cols: [[
                {field: "checkbox", type: 'checkbox'},
                {field: "id", title: "部署ID", sort: true,},
                {field: "name", title: "部署名称"},
                {field: "DeploymentTime", title: "部署时间",}
            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 10,
            page: true
            //skin: 'line'
        });

    });




</script>
</body>
</html>