<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>采购申请</title>
    <link rel="stylesheet" href="/statics/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/public.css" media="all">
    <link rel="stylesheet" href="/css/themes/default.css" media="all">
    <link rel="stylesheet" href="/statics/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <script src="/statics/lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div>
            <blockquote class="layui-elem-quote">
                采购申请<br>
            </blockquote>

            <table id="proList" lay-filter="proList" class="layui-hide"></table>

            <!--表格工具条-->
            <script type="text/html" id="toolbar">

                <button  class="layui-btn layui-btn-normal layui-btn-sm " lay-event="add"><i class="layui-icon">&#xe654;</i>
                    添加
                </button>
                <button class="layui-btn layui-btn-sm " lay-event="refresh"><i class="layui-icon">&#xe669;</i>刷新
                </button>

            </script>
            <script type="text/html" id="proListBar" >
                {{#  if(d.status==0){ }}
                <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="startProcess">提交申请</a>
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
                {{#  } else if(d.status==1){ }}
                <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="viewSpProcess">审批查询</a>
                {{#  } else if(d.status==2){ }}
                <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="viewSpProcess">审批查询</a>
                {{#  } else if(d.status==3){ }}
                <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
                <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="viewSpProcess">审批查询</a>
                {{#  } else if(d.status==4){ }}
                <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="viewSpProcess">审批查询</a>
                {{#  } else if(d.status==5){ }}
                <a class="layui-btn layui-btn-xs" lay-event="viewSpProcess">购买完成</a>
                {{#  } }}
            </script>
        </div>
    </div>
</div>

<script src="/statics/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script type="text/javascript" th:inline="none">
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        //实例化表格
        table.render({
            elem: '#proList',
            url: '/procurement/selectpro',
            toolbar: '#toolbar',
            defaultToolbar: ['filter', 'exports', 'print'],
            parseData: function (res) { //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.list //解析数据列表
                };
            },

            cols: [[
                {field: "checkbox", type: 'checkbox'},
                {field: 'proid', title: '订单ID', minWidth:100, align:"center"},
                {field: 'goodsname', title: '货物名称', minWidth:100, align:"center"},
                {field: 'protype', title: '订单类型', minWidth:100, align:"center",templet:function(d){
                        var html="";
                        if(d.protype==0){
                            html="<font color=gray>家具用品</font>"
                        }else if(d.protype==1){
                            html="<font color=gray>专用设备</font>"
                        }else if(d.protype==2){
                            html="<font color=gray>电器设备</font>"
                        }else if(d.protype==3){
                            html="<font color=gray>电子产品及通讯设备</font>"
                        }else if(d.protype==4) {
                            html="<font color=gray>仪器仪表、计量标准器</font>"
                        }else if(d.protype==5) {
                            html="<font color=gray>交通运输设备</font>"
                        }else if(d.protype==6) {
                            html="<font color=gray>办公用品</font>"
                        }else{
                            html="<font color=gray>其他</font>"
                        }
                        return html;
                    }},
                {field: 'type', title: '型号', minWidth:100, align:"center"},
                {field: 'unit', title: '单位', minWidth:100, align:"center"},
                {field: 'number', title: '数量', minWidth:100, align:"center"},
                {field: 'price', title: '单价', minWidth:100, align:"center"},
                {field: 'totalamount', title: '总价', minWidth:100, align:"center"},
                {field: 'prodesc', title: '备注', minWidth:100, align:"center"},
                {field: 'filename', title: '附件名称', minWidth:100, align:"center"},
                {field: 'fileurl', title: '附件URL', minWidth:100, align:"center"},
                {field: 'applicantname', title: '申请人', minWidth:100, align:"center"},
                {field: 'applicationdeptname', title: '所属部门', minWidth:100, align:"center"},
                //{field: 'corpname', title: '所属公司', minWidth:100, align:"center"},
                {field: 'prodate', title: '申请时间', minWidth:100, align:"center"},
                {field: 'createdate', title: '创建时间', minWidth:100, align:"center"},
                {field: 'modifydate', title: '修改时间', minWidth:100, align:"center"},
                {field: 'status', title: '状态', minWidth:100, align:"center",templet:function(d){
                        var html="";
                        if(d.status==0){
                            html="<font color=red>未提交</font>"
                        }else if(d.status==1){
                            html="<font color=orange>审批中</font>"
                        }else if(d.status==2){
                            html="<font color=blue>审批完成</font>"
                        }else if(d.status==3){
                            html="<font color=gray>已放弃</font>"
                        }else if(d.status==4) {
                            html="<font color=red>驳回</font>"
                        }else if(d.status==5) {
                            html="<font color=green>购买完成</font>"
                        }else{
                            html="<font color=red>未知状态</font>"
                        }
                        return html;
                    }},
                {title: '操作', toolbar: '#proListBar', align: "center", minWidth:200,fixed: 'right'}
            ]],

            limits: [10, 15, 20, 25, 50, 100],
            limit: 10,
            page: true
            //skin: 'line'
        });
        //监听头工具栏事件
        table.on('toolbar(proList)', function(obj){
            switch(obj.event){
                case 'add':
                    toAddPro();
                    break;
                case 'refresh':
                    layui.table.reload("proList");
                    break;
            };
        });
        //列表操作
        table.on('tool(proList)', function(obj){
            var layEvent = obj.event,
                data = obj.data;
            if(layEvent === 'edit'){ //编辑
                updateLeaveBill(data);//data主当前点击的行
            }else if(layEvent === 'del'){ //删除
                layer.confirm('确定删【'+data.goodsname+'】采购单吗？',{icon:3, title:'提示信息'},function(index){
                    $.post("/procurement/delete",{
                        proid : data.proid  //将需要删除的id作为参数传入
                    },function(data){
                        //关闭提示框
                        layer.close(index);
                        //刷新table
                        layui.table.reload("proList");
                    })
                });
            }else if(layEvent==="startProcess"){
                startProcess(data);//采购单的对象
            }else if(layEvent==='viewSpProcess'){
                viewSpProcess(data);
            }
        });

        //打开  添加采购单的弹出层
        function toAddPro(){
            var index = layui.layer.open({
                title : "添加采购单",
                type : 2,//ifream层
                area:["800px","500px"],
                content : "/procurement/goadd",
                success : function(layero, index){
                    setTimeout(function(){
                        layui.layer.tips('点击此处返回采购单列表', '.layui-layer-setwin .layui-layer-close', {
                            tips: 3
                        });
                    },500)
                },
                end:function () {
                    layui.table.reload("proList");
                }
            })
            //layui.layer.full(index);
            //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
            $(window).on("resize",function(){
                layui.layer.full(index);
            })
        }

        //修改采购单
        function updateLeaveBill(data){
            var index = layui.layer.open({
                title : "修改采购单",
                type : 2,
                area:["800px","500px"],
                content : "/procurement/goupdate?proid="+data.proid,
                success : function(layero, index){
                    setTimeout(function(){
                        layui.layer.tips('点击此处返回采购单列表', '.layui-layer-setwin .layui-layer-close', {
                            tips: 3
                        });
                    },500)
                }
            })
            //layui.layer.full(index);
            //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
            $(window).on("resize",function(){
                layui.layer.full(index);
            })
        }

        //启动流程
        function startProcess(data){
            layer.confirm('确定要提交【'+data.goodsname+'】采购单？',{icon:3, title:'提示信息'},function(index){
                $.post("/proflow/startProcess",{
                    proid : data.proid
                },function(data){
                    //关闭提示框
                    layer.close(index);
                    //刷新table
                    table.reload();
                })
            });
        }
        //查看审批进度
        function viewSpProcess(data){
            var index = layui.layer.open({
                title : data.goodsname+"的审批进度",
                type : 2,
                area:["800px","500px"],
                content : "/proflow/viewSpProcess?proid="+data.proid,
                success : function(layero, index){
                    setTimeout(function(){
                        layui.layer.tips('点击此处返回采购列表', '.layui-layer-setwin .layui-layer-close', {
                            tips: 3
                        });
                    },500)
                }
            })
            //layui.layer.full(index);
            //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
            $(window).on("resize",function(){
                layui.layer.full(index);
            })
        }
    });
</script>
</body>
</html>