<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>查询任务办理进度</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/statics/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/public.css" media="all">
</head>
<body class="childrenBody">
<form class="layui-form" method="post" id="frm">
    <div class="layui-form-item">
        <label class="layui-form-label">采购日期</label>
        <div class="layui-input-block">
            <input type="text" name="prodate" th:value="${#dates.format(procurement.prodate, 'yyyy-MM-dd HH:mm:ss')}" disabled="disabled" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">采购类型</label>
        <div class="layui-input-inline">
            <input type="tel" name="protype" th:value="${procurement.protype}"  disabled="disabled" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">货物名称</label>
        <div class="layui-input-inline">
            <input type="tel" name="goodsname" th:value="${procurement.goodsname}"  disabled="disabled" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">单位</label>
        <div class="layui-input-inline">
            <input type="tel" name="unit" th:value="${procurement.unit}"  disabled="disabled" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">型号</label>
        <div class="layui-input-inline">
            <input type="tel" name="type" th:value="${procurement.type}"  disabled="disabled" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">数量</label>
        <div class="layui-input-inline">
            <input type="tel" name="number" th:value="${procurement.number}"  disabled="disabled" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">单价</label>
        <div class="layui-input-inline">
            <input type="tel" name="price" th:value="${procurement.price}"  disabled="disabled" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">总金额</label>
        <div class="layui-input-inline">
            <input type="tel" name="totalamount" th:value="${procurement.totalamount}"  disabled="disabled" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">申请人</label>
        <div class="layui-input-inline">
            <input type="tel" name="applicantname" th:value="${procurement.applicantname}"  disabled="disabled" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">申请部门</label>
        <div class="layui-input-inline">
            <input type="tel" name="applicationdeptname" th:value="${procurement.applicationdeptname}"  disabled="disabled" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">附件名称</label>
        <div class="layui-input-inline">
            <input type="tel" name="filename" th:value="${procurement.filename}"  disabled="disabled" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">附件路径</label>
        <div class="layui-input-inline">
            <input type="tel" name="fileurl" th:value="${procurement.fileurl}"  disabled="disabled" autocomplete="off" class="layui-input">
        </div>
    </div>
    </div>
</form>
<input id="proid" type="hidden"  th:value="${procurement.proid}">
<table id="commentList" lay-filter="commentList"></table>
</body>
<script src="/statics/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script type="text/javascript" th:inline="none">
    var tableIns;
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;
        var proid=document.getElementById("proid").value;
        //实例化表格
        tableIns=table.render({
            elem: '#commentList',
            url: '/proflow/loadCommentByProid?proid='+proid,
            toolbar: '#toolbar',
            defaultToolbar: ['filter', 'exports', 'print'],
            parseData: function (res) { //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.list //解析数据列表
                };
            },
            cols : [[
                {field: 'time', title: '批注时间', minWidth:100, align:"center"},
                {field: 'userId', title: '批注人', minWidth:100, align:"center"},
                {field: 'message', title: '批注内容', minWidth:100, align:"center"}
            ]],
            page:false
        });
    });

</script>
</html>