<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>用户资料卡</title>
    <link rel="stylesheet" href="/statics/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/public.css" media="all">
    <link rel="stylesheet" href="/statics/lib/cropper/cropper.css" media="all">
    <style type="text/css">
        #TuImage {
            text-align: center;
        }

        #TuImage img {
            width: 150px;
            height: 100px;
            margin: 10px auto;
            border-radius: 50%;
        }
        #idImage{
            width: 200px;
            height: 200px;
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="layui-elem-field layui-field-title">
            <legend>员工资料卡</legend>
        </fieldset>

        <table class="layui-table" lay-skin="line">
            <colgroup>
                <col width="100">
                <col width="150">
                <col width="100">
                <col width="150">
                <col width="100">
                <col width="150">
            </colgroup>
            <tbody>
            <tr>
                <td id="TuImage" colspan="6">
                    <img src="/images/bg.jpg"/>
                </td>
            </tr>
            <tr>
                <td>登录名称:</td>
                <td><label id="loginname">chr</label></td>
                <td>员工姓名:</td>
                <td><label id="name">常浩然</label></td>
                <td>员工职位:</td>
                <td><label id="jobtitle">开发</label></td>
            </tr>
            <tr>
                <td>所属公司:</td>
                <td><label id="corpid">河南唐都科技有限公司</label></td>
                <td>上级领导:</td>
                <td><label id="superid">总经理</label></td>
                <td>创建时间:</td>
                <td><label id="createdate">2012-12-12</label></td>
            </tr>
            <tr>
                <td>部门:</td>
                <td><label id="deptname">研发事业部</label></td>
                <td>证件类型:</td>
                <td><label id="idcardtype">身份证</label></td>
                <td>证件号码:</td>
                <td><label id="idcardnumber">410332512345646</label></td>
            </tr>
            <tr>
                <td>性别:</td>
                <td><label id="gender">男</label></td>
                <td>员工年龄:</td>
                <td><label id="age">23</label></td>
                <td>员工学历:</td>
                <td><label id="edulevel">博士</label></td>
            </tr>
            <tr>
                <td>民族:</td>
                <td><label id="nation">汉族</label></td>
                <td>详细地址:</td>
                <td><label id="address">河南省洛阳市</label></td>
                <td>出生日期:</td>
                <td><label id="birthday">2020-8-11</label></td>
            </tr>
            <tr>
                <td>政治面貌:</td>
                <td><label id="politicstype">群众</label></td>
                <td>入职时间:</td>
                <td><label id="entrydate">2020-7-18</label></td>
                <td>转正时间:</td>
                <td><label id="regulardate">2020-7-18</label></td>
            </tr>
            <tr>
                <td>联系电话:</td>
                <td><label id="cellphone">152255137415</label></td>
                <td>邮箱:</td>
                <td><label id="email">2020-7-18</label></td>
                <td>紧急联系人:</td>
                <td><label id="urgentlinkman">耶稣撒冷</label></td>
            </tr>
            <tr>
                <td>紧急联系人电话:</td>
                <td><label id="urgentlinkmanphone">152255137415</label></td>
                <td>合同附件:</td>
                <td><label id="fileUrl">合同附件合同附件合同附件</label></td>
                <td>员工状态:</td>
                <td><label id="status">在职</label></td>
            </tr>

            <tr id="idImage">
                <td>身份证正面照:</td>
                <td colspan="2"><img id="positiveidcardimageurl" src="" /></td>
                <td>身份证反面照:</td>
                <td colspan="2">><img id="negativeidcardimageurl" src="" /></td>
            </tr>

            </tbody>
        </table>


    </div>
</div>


<script src="/statics/lib/jquery-3.4.1/jquery-3.4.1.min.js" charset="utf-8"></script>
<script src="/statics/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="/js/public.js"></script>
<script type="text/javascript">
    layui.use(['form'], function () {
        var form = layui.form
            , layer = layui.layer;

    });


</script>


</body>
</html>