<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>员工列表</title>
    <link rel="stylesheet" href="/statics/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/public.css" media="all">
    <link rel="stylesheet" href="/css/themes/default.css" media="all">
    <link rel="stylesheet" href="/statics/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <blockquote class="layui-elem-quote">
            员工列表<br>
        </blockquote>
        <div>

            <fieldset class="table-search-fieldset">
                <legend>搜索信息</legend>
                <div style="margin: 10px 10px 10px 10px">
                    <form class="layui-form layui-form-pane" action="">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">员工名称</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="name" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">证件号码</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="idcardnumber" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="searchBtn"><i class="layui-icon"></i> 搜 索</button>
                            </div>
                        </div>
                    </form>
                </div>
            </fieldset>


            <table id="employeeList" lay-filter="employeeList" class="layui-hide"></table>


            <script type="text/html" id="toolbar">
                <div class="layui-btn-container">
                    <button  class="layui-btn layui-btn-normal layui-btn-sm " lay-event="add"><i class="layui-icon">&#xe654;</i>
                        添加
                    </button>
                    <!--<button class="layui-btn layui-btn-sm layui-btn-warm " lay-event="update"><i class="layui-icon">&#xe642;</i>修改
                    </button>-->
                    <button class="layui-btn layui-btn-sm " lay-event="refresh"><i class="layui-icon">&#xe669;</i>刷新
                    </button>
                </div>
            </script>

            <script type="text/html" id="currentTableBar">
                <a   class="layui-btn layui-btn-xs " lay-event="ChongZhiPwd"><i class="layui-icon">&#xe673;</i>重置密码</a>
                {{# if(d.userstatus==0){ }}
                <a   class="layui-btn layui-btn-xs layui-btn-normal " lay-event="delete"><i class="layui-icon">&#xe624;</i>启用</a>
                {{#  } else if(d.userstatus==1){ }}
                <a  class="layui-btn layui-btn-xs layui-btn-danger " lay-event="delete"><i class="layui-icon">&#xe67e;</i>注销</a>
                {{#  } }}
            </script>

        </div>
    </div>
</div>

<script src="/statics/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="/js/public.js" charset="utf-8"></script>
<script type="text/javascript" th:inline="none">
    PublicFun.ImportJs("/statics/lib/jquery-3.4.1/jquery-3.4.1.min.js");
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        //实例化表格
        table.render({
              elem: '#employeeList',
              url: '/employee/selectemployee',
              toolbar: '#toolbar',
              defaultToolbar: ['filter', 'exports', 'print'],
            parseData: function (res) { //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.list //解析数据列表
                };
            },
              cols:[[
                  {field:"checkbox",type:'checkbox'},
                  {field:"employeeid",title:"员工ID",width:100,sort:true,},
                  {field:"name",title:"姓名",width:100},
                  {field:"deptname",title:"所属部门",width:100},
                  {field:"jobtitle",title:"岗位",width:100},
                  {field:"idcardnumber",title:"证件号码",width:200},
                  {field:"status",title:"状态",width:100,sort:true,templet:function (data) {
                          if(data.status==0) return "离职";
                          else  return "在职";
                      }},
                  /*{field:"status",title:"状态",sort:true,templet:function (data) {
                          if(data.status==0) return "正常";
                          else  return "锁定";
                      }},*/
                  {field:"gender",title:"性别",width:100,sort:true,templet:function (data) {
                          if(data.gender==0) return "女"
                          else if(data.gender==1) return "男"
                          else  return "未知"
                      }},
                  {field:"age",title:"年龄",width:100,sort:true,},

                  {field:"nation",title:"民族",width:100,sort:true,},
                  {field:"edulevel",title:"学历",width:100,sort:true,templet:function (data) {
                          if(data.edulevel==1) return "博士后"
                          else if(data.edulevel==2) return "博士"
                          else if(data.edulevel==3) return "研究生"
                          else if(data.edulevel==4) return "硕士"
                          else if(data.edulevel==5) return "本科"
                          else if(data.edulevel==6) return "大专"
                          else if(data.edulevel==7) return "中专"
                          else if(data.edulevel==8) return "高中"
                          else if(data.edulevel==9) return "其他"
                          else  return "未知"
                      }},
                  {field: "birthday", title: "出生日期",width:120,templet: function (d) {
                          return layui.util.toDateString(d.birthday, 'yyyy-MM-dd');
                      }},
                  {field:"address",title:"住址",width:100,},
                  {field: "entrydate", title: "入职时间",width:120,templet: function (d) {
                          return layui.util.toDateString(d.entrydate, 'yyyy-MM-dd');
                      }},
                  {field: "regulardate", title: "转正时间",width:120,templet: function (d) {
                          return layui.util.toDateString(d.regulardate, 'yyyy-MM-dd');
                      }},

                  {field:"politicstype",title:"政治面貌",width:100,sort:true,templet:function (data) {
                          if(data.politicstype==1) return "中共党员"
                          else if(data.politicstype==2) return "中共预备党员"
                          else if(data.politicstype==3) return "共青团员"
                          else if(data.politicstype==4) return "群众"
                          else  return "未知"
                      }},
                  {field:"cellphone",title:"手机号码",width:150,},
                  {field:"email",title:"邮箱",width:170,},
                  {field:"urgentlinkman",title:"紧急联系人姓名",width:170,},
                  {field:"urgentlinkmanphone",title:"紧急联系电话",width:170,},
                  {field: "createdate", title: "创建时间",width:170,templet: function (d) {
                          return layui.util.toDateString(d.createdate, 'yyyy-MM-dd HH:mm:ss');
                      }},
                  {field: "departuredate", title: "离职时间",width:170,templet: function (d) {
                          if(d.departuredate==null) return ""
                          else return layui.util.toDateString(d.departuredate, 'yyyy-MM-dd HH:mm:ss');
                      }},
                  {field: "modifydate", title: "编辑时间",width:170,templet: function (d) {
                          if(d.modifydate==null) return ""
                          else return layui.util.toDateString(d.modifydate, 'yyyy-MM-dd HH:mm:ss');
                      }},
                  {title: '操作', toolbar: '#currentTableBar', width:200, align: "center",fixed: 'right'}
              ]],
              limits: [10, 15, 20, 25, 50, 100],
              limit: 10,
              page: true,
              //skin: 'line'
        });

        //搜索事件操作
        form.on("submit(searchBtn)",function (data) {
            var formData=data.field;//获取搜索新信息
            //var selectText=$("#companyList").find("option:selected").text();
            //layer.msg(selectText);
            var canshu={
                "name":formData.name,
                "idcardnumber":formData.idcardnumber,
            }
            //搜索重载
            table.reload("employeeList",{
                url:"/employee/selectemployee",
                page:{
                    curr:1
                },
                where:canshu
            },"data");
            return false;
        });

        //监听头工具栏事件
        table.on('toolbar(employeeList)', function(obj){
            var checkStatus=table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'add':
                    toAddEmployee();
                    break;
                case "refresh":
                    layui.table.reload("employeeList");
                    break;
                 case 'update':
                     //ToUpdateEmployee(checkStatus);
                     break;
            };
        });

        //打开  添加员工的弹出层
        function toAddEmployee(){
            var index = layui.layer.open({
                title : "添加员工",
                type : 2,//ifream层
                maxmin: true,
                shadeClose: true,
                area:["100%","100%"],
                content : "/employee/goadd",
                success : function(layero, index){
                    setTimeout(function(){
                        layui.layer.tips('点击此处返回员工列表', '.layui-layer-setwin .layui-layer-close', {
                            tips: 3
                        });
                    },500)
                },
                end:function () {
                    layui.table.reload("employeeList");
                }
            })
        }

        //打开 修改员工的弹出层
        /*function ToUpdateEmployee(checkStatus){
            //alert(checkStatus.length);
            if(checkStatus.data.length==1){
                //执行修改操作
                var index = layer.open({
                    title: '修改车辆信息',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['40%', '60%'],
                    content: '',
                    success: function (layero,index) {
                        //赋值
                        var  body=layer.getChildFrame("body",index);
                           /!* body.contents().find('input[name="vehicleinfoId"]').val(n.vehicleinfoId);
                            body.contents().find('input[name="vehicleType"]').val(n.vehicleType);
                            body.contents().find('input[name="vehicleSeatsNumber"]').val(n.vehicleSeatsNumber);
                            body.contents().find('input[name="vehicleNumber"]').val(n.vehicleNumber);*!/
                    },
                    end: function () {
                        //刷新表格
                        layui.table.reload("employeeList");
                    }
                });
            }else if (checkStatus.data.length>1){
                layer.msg("只能修改一行数据")
            }else {
                layer.msg("你没有选中任何行！！！")
            }
        }*/


        //表格操作事件
        table.on("tool(employeeList)",function (obj) {
            var  data=obj.data;
            switch (obj.event) {
                case "ChongZhiPwd":
                    ChongZhiPwd(data.employeeid);
                    break;
                case "delete":
                    DeleteUser(data);
                    break;
            }
        });

    });
    //重置密码操作
    function ChongZhiPwd(employeeid) {
        $.ajax({
            url:"/user/setpsd",
            type:"post",
            dataType:"json",
            data:{employeeid:employeeid},
            success:function (res) {
                if(res.responseCode=="200"){
                    layer.msg(res.message);
                }else {
                    layer.msg(res.message);
                }
            },
            error:function () {
                layer.msg("网络异常,请检查后再试", {
                    icon: 2,
                    shade: this.shade,
                    scrollbar: false,
                    time: 3000,
                    shadeClose: true
                });
            }
        })
    }

    //修改用户状态操作
    function DeleteUser(data) {
        layer.confirm("确定要更改此用户状态吗?",function (index) {
            //更改操作
            $.ajax({
                url:"/user/setuserstatus",
                type:"post",
                dataType:"json",
                data:{employeeid:data.employeeid},
                success:function (res) {
                    if(res.responseCode=="200"){
                        layer.msg(res.message);
                        layui.table.reload("employeeList");
                    }else {
                        layer.msg(res.message);
                    }
                },
                error:function () {
                    layer.msg("网络异常,请检查后再试", {
                        icon: 2,
                        shade: this.shade,
                        scrollbar: false,
                        time: 3000,
                        shadeClose: true
                    });
                }
            });

            layer.close(index);
        })
    }

</script>
</body>
</html>